header
	// Create full width scene
	.scene

		// First layer – text
		#text-layer.layer
			#text-1.text.dead_center.text-center How do you
			#text-2.text.dead_center.text-center someone's attention?
			.word.text.dead_center grab