header
	.row.artboard
		.columns.small-12
			// The text layer
			.row.new-layer
				.columns.align-middle
					.text-1.text-center
						p This might be it!
			// The graphics layer
			.row.new-layer
				.columns.align-bottom
					.graphic-1.text-center
						include svg.jade