// Animate logo header
// Pick typography

h1.
	The
	Nerdmanship
	Animation Studio

h2 Motion Graphics for browsers


hr

p This is a website and a company under development. Follow us on facebook to keep updated!

hr

h2 A new era of living websites

p Problem, Solution, Result

ul 
	li UI animation
	li Bob
	li Sunrays through leaves

p Animate anything that will convey emotion or information and improve UX
p List of services
p Wanna explore something beyond that? Me too – #[a(href="#") let&rsquo;s talk]!

hr

h2 Technology

h3 Extremely compatible
p: em Everything is codebased
p All graphics, animations and interaction written in the first language of the browser

h3 Top performance
p: em Lightweight and robust
p Minimal need to download assets and send server requests. Very lightweight sites and a smart and robust animation platform in GSAP

h3 Responsive
p: em More focus on engagement
p With less need to worry about cross-platform compatibility and technical troubleshooting, more of your invested dollars go into creative output and a more pleasurable user experience

hr
	
//
	h2 Uhm... excuse me, is this like Flash?
	p If you remove everything that sucks with Flash, keep everything that was good with it, and then add all the flexibility and innovation as you would expect from a modern tool – then yes!

	hr

	h2 Why is animation and interaction a good idea?

	p Throw a pair of eyes on something and emotions happen.

	blockquote "Most browser animation suck!"

	p As humans, we are hardwired in our DNA to detect and pay attention to things that move. This must be done responsibly. A moving logo on a page of text is just a bad idea, as both you and your user want the text to be in focus, but our eyes disagree – they want to watch the stuff that moves. It's like your trying to have a conversation with someone and there's a guy next to you going "Hey! You there! Yo!" That's why – what ever project we venture into – UX is uncompromisingly king.

	hr

	h2 What's a Nerdershimp?
	p The nerdmanship is the beautiful merger of technological nerdery and design craftmanship, to deliver real pleasure to real people.
	p Inspired by old shcool game development, visual artists magicians and flawless service design, we make pleasurable web experiences.

	p Game developers are the gurus that mastered and perfected engaging human centered experiences with limited resources for decades – something that spoiled web developers still struggle with. Engage users with story, emotion, meaningful interaction and stunning visuals. Always directed to the end goal, never as cosmetics.

	hr

	h2 Who are you?
	p img This is my face

	p UX designer in mind, motion graphics artist at heart. I have two well-connected brainhalfs – one right and one left. I get equally excited by an abstract color splash as the uncompromising logics of code.

	p As the end user and lead designer of my own life – I continuosly work on improving the quality of it. That's why I work remotelly from Bali, where I – aside from reviving the static web – surf, and drink excellent coffee. I'm no stranger to short term relocation.

	ul
		li Devoted to stories, technology and games since my older brother handed me the 2-player controller
		li Over 10 years of studies and experience in human behaviour and communication
		li 4 years in innovative UX
		li Creating interactive storytelling and interaction design for smart products
		li At companies such as North Kingdom, Join the Carnival and Topp Studio
		li For clients such as Microsoft, Samsung and xyz
		li Full resumé on #[a(href="#") LinkedIn] and a selection of my work in my #[a(href="#") portfolio]

	hr

	h2 Examples

	<p data-height="300" data-theme-id="light" data-slug-hash="qZQmMe" data-default-tab="result" data-user="stromqvist" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/stromqvist/pen/qZQmMe/">Crab #4 – A new Bob</a> by Johan Strömqvist (<a href="http://codepen.io/stromqvist">@stromqvist</a>) on <a href="http://codepen.io">CodePen</a>.</p>
	<script async src="//assets.codepen.io/assets/embed/ei.js"></script>

	<p data-height="300" data-theme-id="light" data-slug-hash="YqdgvG" data-default-tab="result" data-user="stromqvist" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/stromqvist/pen/YqdgvG/">Crab #5 – Bob's walking cycle</a> by Johan Strömqvist (<a href="http://codepen.io/stromqvist">@stromqvist</a>) on <a href="http://codepen.io">CodePen</a>.</p>
	<script async src="//assets.codepen.io/assets/embed/ei.js"></script>

	footer
		p This website was made with love in 30 minutes. Expect a newer version shortly. Stay updated with my progress. Follow me on #[a(href="#") Facebook page].

// Typography: signpainting, personal, customised, free