include includes/global/mixins.jade
- title = "Nerdmanship beta"
- styles = ["css/app.css"]
- scripts = ["js/min/app-min.js"]

doctype
html(class="no-js" lang="en")
	include includes/global/head.jade
	body
		//- include includes/global/nav.jade
		include includes/pages/landing/header.jade
		//- include includes/pages/landing/main.jade
		//- include includes/global/footer.jade
		+scripts