svg#bg(xmlns='http://www.w3.org/2000/svg', viewbox="0 0 1000 500" opacity="0")
	defs
		rect#diamond(width="300" height="300")
	g#diaGroup
		use.dia.dia9(xlink:href="#diamond")
		use.dia.dia8(xlink:href="#diamond")
		use.dia.dia7(xlink:href="#diamond")
		use.dia.dia6(xlink:href="#diamond")
		use.dia.dia5(xlink:href="#diamond")
		use.dia.dia4(xlink:href="#diamond")
		use.dia.dia3(xlink:href="#diamond")
		use.dia.dia2(xlink:href="#diamond")
		use.dia.dia1(xlink:href="#diamond")