svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 3050 50')
  defs
  g#string
    g#unit1.unit
      path(d='M500 0c-13.8 0-25 11.2-25 25s11.2 25 25 25h25c13.8 0 25-11.2 25-25S538.8 0 525 0h-25z')
      path.hidden(d='M0 0h1050v50H0z')
      g#unit2.unit
        path(d='M475 0c-13.8 0-25 11.2-25 25s11.2 25 25 25h25c13.8 0 25-11.2 25-25S513.8 0 500 0h-25z')
        path.hidden(d='M0 0h1000v50H0z')
        g#unit3.unit
          path(d='M450 0c-13.8 0-25 11.2-25 25s11.2 25 25 25h25c13.8 0 25-11.2 25-25S488.8 0 475 0h-25z')
          path.hidden(d='M0 0h950v50H0z')
          g#unit4.unit
            path(d='M425 0c-13.8 0-25 11.2-25 25s11.2 25 25 25h25c13.8 0 25-11.2 25-25S463.8 0 450 0h-25z')
            path.hidden(d='M0 0h900v50H0z')
            g#unit5.unit
              path(d='M400 0c-13.8 0-25 11.2-25 25s11.2 25 25 25h25c13.8 0 25-11.2 25-25S438.8 0 425 0h-25z')
              path.hidden(d='M0 0h850v50H0z')
              g#unit6.unit
                path(d='M375 0c-13.8 0-25 11.2-25 25s11.2 25 25 25h25c13.8 0 25-11.2 25-25S413.8 0 400 0h-25z')
                path.hidden(d='M0 0h800v50H0z')
                g#unit7.unit
                  path(d='M350 0c-13.8 0-25 11.2-25 25s11.2 25 25 25h25c13.8 0 25-11.2 25-25S388.8 0 375 0h-25z')
                  path.hidden(d='M0 0h750v50H0z')
                  g#unit8.unit
                    path(d='M325 0c-13.8 0-25 11.2-25 25s11.2 25 25 25h25c13.8 0 25-11.2 25-25S363.8 0 350 0h-25z')
                    path.hidden(d='M0 0h700v50H0z')
                    g#unit9.unit
                      path(d='M300 0c-13.8 0-25 11.2-25 25s11.2 25 25 25h25c13.8 0 25-11.2 25-25S338.8 0 325 0h-25z')
                      path.hidden(d='M0 0h650v50H0z')
                      g#unit10.unit
                        path(d='M275 0c-13.8 0-25 11.2-25 25s11.2 25 25 25h25c13.8 0 25-11.2 25-25S313.8 0 300 0h-25z')
                        path.hidden(d='M0 0h600v50H0z')
                        g#unit11.unit
                          path(d='M250 0c-13.8 0-25 11.2-25 25s11.2 25 25 25h25c13.8 0 25-11.2 25-25S288.8 0 275 0h-25z')
                          path.hidden(d='M0 0h550v50H0z')
                          g#unit12.unit
                            path(d='M225 0c-13.8 0-25 11.2-25 25s11.2 25 25 25h25c13.8 0 25-11.2 25-25S263.8 0 250 0h-25z')
                            path.hidden(d='M0 0h500v50H0z')
                            g#unit13.unit
                              path(d='M200 0c-13.8 0-25 11.2-25 25s11.2 25 25 25h25c13.8 0 25-11.2 25-25S238.8 0 225 0h-25z')
                              path.hidden(d='M0 0h450v50H0z')
                              g#unit14.unit
                                path(d='M175 0c-13.8 0-25 11.2-25 25s11.2 25 25 25h25c13.8 0 25-11.2 25-25S213.8 0 200 0h-25z')
                                path.hidden(d='M0 0h400v50H0z')
                                g#unit15.unit
                                  path(d='M150 0c-13.8 0-25 11.2-25 25s11.2 25 25 25h25c13.8 0 25-11.2 25-25S188.8 0 175 0h-25z')
                                  path.hidden(d='M0 0h350v50H0z')
                                  g#unit16.unit
                                    path(d='M125 0c-13.8 0-25 11.2-25 25s11.2 25 25 25h25c13.8 0 25-11.2 25-25S163.8 0 150 0h-25z')
                                    path.hidden(d='M0 0h300v50H0z')
                                    g#unit17.unit
                                      path(d='M100 0C86.2 0 75 11.2 75 25s11.2 25 25 25h25c13.8 0 25-11.2 25-25S138.8 0 125 0h-25z')
                                      path.hidden(d='M0 0h250v50H0z')
                                      g#unit18.unit
                                        path(d='M75 0C61.2 0 50 11.2 50 25s11.2 25 25 25h25c13.8 0 25-11.2 25-25S113.8 0 100 0H75z')
                                        path.hidden(d='M0 0h200v50H0z')
                                        g#unit19.unit
                                          path(d='M50 0C36.2 0 25 11.2 25 25s11.2 25 25 25h25c13.8 0 25-11.2 25-25S88.8 0 75 0H50z')
                                          path.hidden(d='M0 0h150v50H0z')
                                          g#unit20.unit
                                            path(d='M25 0C11.2 0 0 11.2 0 25s11.2 25 25 25h25c13.8 0 25-11.2 25-25S63.8 0 50 0H25z')
                                            path.hidden(d='M0 0h100v50H0z')