svg(xmlns='http://www.w3.org/2000/svg', width='3050', height='51', viewbox='0 0 3050 51')
  defs
    path#unit(d='M87.5,-12.5 C87.5,-26.3108527 76.3071187,-37.5 62.5,-37.5 C48.6898454,-37.5 37.5,-26.3092735 37.5,-12.5 L37.5,62.5 C37.5,76.3108527 48.6928813,87.5 62.5,87.5 C76.3101546,87.5 87.5,76.3092735 87.5,62.5 L87.5,-12.5 Z')
  g#link20.unit
    path.hidden(d='M0 0H3050V50H0z')
    use.link(xlink:href="#unit", transform='rotate(90 775 737.5)')
    g#link19.unit
      path.hidden(d='M0 0H2900V50H0z')
      use.link(xlink:href="#unit", transform='rotate(90 737.5 700)')
      g#link18.unit
        path.hidden(d='M0 0H2750V50H0z')
        use.link(xlink:href="#unit", transform='rotate(90 700 662.5)')
        g#link17.unit
          path.hidden(d='M0 0H2600V50H0z')
          use.link(xlink:href="#unit", transform='rotate(90 662.5 625)')
          g#link16.unit
            path.hidden(d='M0 0H2450V50H0z')
            use.link(xlink:href="#unit", transform='rotate(90 625 587.5)')
            g#link15.unit
              path.hidden(d='M0 0H2300V50H0z')
              use.link(xlink:href="#unit", transform='rotate(90 587.5 550)')
              g#link14.unit
                path.hidden(d='M0 0H2150V50H0z')
                use.link(xlink:href="#unit", transform='rotate(90 550 512.5)')
                g#link13.unit
                  path.hidden(d='M0 0H2000V50H0z')
                  use.link(xlink:href="#unit", transform='rotate(90 512.5 475)')
                  g#link12.unit
                    path.hidden(d='M0 0H1800V50H0z')
                    use.link(xlink:href="#unit", transform='rotate(90 475 437.5)')
                    g#link11.unit
                      path.hidden(d='M0 0H1650V50H0z')
                      use.link(xlink:href="#unit", transform='rotate(90 437.5 400)')
                      g#link10.unit
                        path.hidden(d='M0 0H1500V50H0z')
                        use.link(xlink:href="#unit", transform='rotate(90 400 362.5)')
                        g#link9.unit
                          path.hidden(d='M0 0H1350V50H0z')
                          use.link(xlink:href="#unit", transform='rotate(90 362.5 325)')
                          g#link8.unit
                            path.hidden(d='M0 0H1200V50H0z')
                            use.link(xlink:href="#unit", transform='rotate(90 325 287.5)')
                            g#link7.unit
                              path.hidden(d='M0 0H1050V50H0z')
                              use.link(xlink:href="#unit", transform='rotate(90 287.5 250)')
                              g#link6.unit
                                path.hidden(d='M0 0H900V50H0z')
                                use.link(xlink:href="#unit", transform='rotate(90 250 212.5)')
                                g#link5.unit
                                  path.hidden(d='M0 0H750V50H0z')
                                  use.link(xlink:href="#unit", transform='rotate(90 212.5 175)')
                                  g#link4.unit
                                    path.hidden(d='M0 0H600V50H0z')
                                    use.link(xlink:href="#unit", transform='rotate(90 175 137.5)')
                                    g#link3.unit
                                      path.hidden(d='M0 0H450V50H0z')
                                      use.link(xlink:href="#unit", transform='rotate(90 137.5 100)')
                                      g#link2.unit
                                        path.hidden(d='M0 0H300V50H0z')
                                        use.link(xlink:href="#unit", transform='rotate(90 100 62.5)')
                                        g#link1.unit
                                          path.hidden(d='M0 0H300V50H0z')
                                          use.link(xlink:href="#unit", transform='rotate(90 62.5 25)')
