svg#sliderHandle(viewbox='0 0 50 50', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
	circle.circle4(cy="25" r="10")
	circle.circle3(cy="25" r="10")
	circle.circle2(cy="25" r="10")
	circle.circle1(cy="25" r="10")