svg#sliderHandle(viewbox='0 0 10 10', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
	circle.circle3(r="10")
	circle.circle2(r="10")
	circle.circle1(r="10")