svg#socialEmail.socialLink(xmlns='http://www.w3.org/2000/svg', viewBox="0 0 100 100")
	title Email
	g#Email.socialIcon(fill-rule='evenodd')
		circle.clickTarget(cx="50" cy="50" r="50")
		path(d='M50 100c27.614 0 50-22.386 50-50S77.614 0 50 0 0 22.386 0 50s22.386 50 50 50zm22.96-72.325H27.918c-3.865 0-7.01 2.99-7.01 6.665v31.078c0 3.674 3.145 6.664 7.01 6.664H72.96c3.865 0 7.01-2.99 7.01-6.664V34.34c0-3.675-3.145-6.665-7.01-6.665z')
		path(d='M50.44 50.174L30.625 33.56h39.626')
		path(d='M27.918 66.198c-.568 0-1.066-.364-1.066-.78v-26.97l20.37 17.026c.418.35.95.54 1.496.54l3.44.002c.547 0 1.08-.193 1.497-.542l20.37-17.025v26.968c0 .416-.497.78-1.065.78H27.918z')