svg#socialCodepen.socialLink(xmlns='http://www.w3.org/2000/svg', viewBox="0 0 100 100")
	title Codepen
	g#Codepen.socialIcon(fill-rule='evenodd')
		circle.clickTarget(cx="50" cy="50" r="50")
		path(d='M50 100c27.614 0 50-22.386 50-50S77.614 0 50 0 0 22.386 0 50s22.386 50 50 50zm1.895-82.5c-1.8-1.19-4.148-1.164-5.92.072L19.447 36.048c-1.415.986-2.258 2.6-2.258 4.325V60.28c0 1.77.888 3.422 2.365 4.398L46.515 82.5c1.763 1.166 4.052 1.166 5.814 0l27.495-18.166c1.476-.976 2.365-2.627 2.365-4.397v-19.56c0-1.768-.887-3.42-2.363-4.395L51.895 17.5z')
		path(d='M75.242 54.414l-6.678-4.39 6.678-4.478v8.868zM52.898 73.992v-13.46l9.408-6.303 10.13 6.657-19.538 13.105zM42.215 49.665l6.368-4.454L56 50.087l-6.573 4.417-7.212-4.838zM45.95 73.992l-19.668-13.19 9.825-6.87 9.844 6.606v13.454zM23.607 45.55l6.304 4.225-6.303 4.41V45.55zM45.784 25.337v13.34l-9.766 6.83-9.74-6.53 19.506-13.64zM72.433 39.064L62.27 45.887l-9.53-6.93-.06-13.632 19.753 13.74z')