svg#socialFacebook.socialLink(xmlns='http://www.w3.org/2000/svg', viewBox="0 0 100 100")
	title Facebook
	g#Facebook.socialIcon
		circle.clickTarget(cx="50" cy="50" r="50")
		path(d='M50 100c27.614 0 50-22.386 50-50S77.614 0 50 0 0 22.386 0 50s22.386 50 50 50zm12.57-48.043h-8.922v32.686H40.13V51.957h-6.428V40.47h6.43v-7.433c0-5.316 2.524-13.64 13.636-13.64l10.013.042v11.15h-7.264c-1.19 0-2.867.595-2.867 3.13v6.76h10.1l-1.18 11.477z')
		g.notification(transform='translate(60)')
			circle(cx='20', cy='20', r='20')
			path(d='M23.808 30.152c0 .176-.064.328-.192.456s-.28.192-.456.192h-4.704c-.176 0-.328-.064-.456-.192s-.192-.28-.192-.456V16.456L15.12 18.52c-.128.096-.268.144-.42.144-.152 0-.316-.112-.492-.336l-2.112-2.736c-.064-.112-.096-.216-.096-.312 0-.288.104-.496.312-.624l5.784-4.488c.16-.112.336-.168.528-.168h4.536c.176 0 .328.064.456.192s.192.28.192.456v19.504z')