footer
	.text-center.footerContent
		.company.headline
			h1 the Nerdmanship<br />Animation Studio
			h2 Motion Graphics for Browsers
		.socialLinks
			include ../svgs/socialCodepen.jade
			include ../svgs/socialFacebook.jade
			include ../svgs/socialGithub.jade
		.mailto
			a.button(href="mailto:johan@nerdmanship.com") Contact
			p
				a.micro(href="mailto:johan@nerdmanship.com") johan@nerdmanship.com
		.copyright
			p &copy; 2016 the Nerdmanship
