footer
	.row
		.columns.small-12.text-center.footerContent
			.row
				.columns.company.headline
					h1 the Nerdmanship<br />Animation Studio
					h2 Motion Graphics for Browsers
			.row
				.columns.socialLinks
					include ../svgs/socialCodepen.jade
					include ../svgs/socialFacebook.jade
					include ../svgs/socialGithub.jade
			.row
				.columns.mailto
					a.button(href="mailto:johan@nerdmanship.com") Contact
					p
						a.micro(href="mailto:johan@nerdmanship.com") johan@nerdmanship.com
			.row
				.columns.copyright
					p &copy; 2016 the Nerdmanship
