header
	#bgContainer
		.headerBackground
		.gradient
	#contentContainer
		.kineticType
			.logoText.logoUpper the
			// .glowContainer
				include ../svgs/glow.jade
			include ../svgs/string.jade
			include controllerContainer.jade
			.logoText.logoLower animation studio
