#header.row
	.small-12.columns
		.header
			.logoText.logoUpper the
			include ../svgs/string.jade
			include controllerContainer.jade
			.logoText.logoLower animation studio
			.gradient
			//include scrollDownIndicator.jade