section#presentation
	.row
		.columns.small-12.small-centered
			.container.text-center
				.headlineGroup
					h1 Motion graphics<br/> for browsers
				p We make code-based graphics, animation and interaction to create a more story-driven, cinematic and emotional web-experience, while also being lighter, faster and more performant than most.
				p <strong>Happy users, happy clients!</strong>

section#disclaimer
	.row
		.columns.small-12.small-centered
			.container.text-center
				.headlineGroup
					h1 Expect major<br />updates shortly
				p The Studio is currently in research and development mode, but <strong>sign up below</strong> if you're interested in the Nerdmanship or web animation at large. You'll get notified as we progress and when we've made new experiments and discoveries.
				include signup.jade