section#presentation
	.row
		.columns.small-12.small-centered
			.container.text-center
				.headlineGroup
					h1 Motion graphics<br/> for browsers
				p We make code-based graphics, animation and interaction to create a more story-driven, cinematic and emotional web-experience, while still being lighter, faster and more performant than most.<br />Happy users, happy clients!

section#disclaimer
	.row
		.columns.small-12.small-centered
			.container.text-center
				.headlineGroup
					h1 Expect major<br />updates shortly
				p The Studio is currently in research and development mode, but <strong>throw us your email</strong> and you'll be the first to know how and when we're moving forward.
				include signup.jade