#main.row
	.small-10.columns.small-offset-1
		.presentation
			p <code>The Nerdmanship Animation Studio makes code-based motion graphics for browsers. A more story-driven, cinematic and emotional web-experience, while still being lighter, faster and more performant than most. Happy users, happy clients!</code>

			p <code>The studio is currently in research and development mode, but <span class="shiny">throw us your email address</span> and you'll be the first to know how and when we're moving forward.</code>
			include signup.jade