section#presentation
	.row
		.columns.small-12.small-centered
			.container.text-center
				.headlineGroup
					h1 We animate the web
				p We make graphics and animation out of code. The result is a more story-driven, emotional and useful web-experience, which is also lighter, faster and more performant than most.

section#disclaimer
	.row
		.columns.small-12.small-centered
			.container.text-center
				.headlineGroup
					h1 Be our friend
				p We are currently in R&amp;D mode, but signup and get occasional updates about our progress and experiments.
				include signup.jade