.row
	.main.small-12.columns
		.row
			.signupContainer.small-6.columns
				h1 What is this black magic? :O
				p The Nerdmanship Animation Studio makes 100% codebased animation and interaction. A story driven and performant web experience for entertained and engaged users. The studio is currently in research and development mode, but throw us your email to be the first who get updated about our experiments and progress.
				include signup.jade