//-----------------------
// TYPOGRAPHY
//-----------------------

// This is...
@font-face {
  font-family: 'Geo';
  font-style: normal;
  font-weight: 400;
  src: local('Geo'), local('Geo-Regular'), url(https://fonts.gstatic.com/s/geo/v8/u6xYViAS7oZBWuSBY2LiDw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

// Vars
$logoFont: 'Geo', sans-serif;
$copyFont: 'Open Sans', sans-serif;
$headlineFont: 'Rubik One', sans-serif;

body {
	font-size: 18px;
	letter-spacing: 1px;
	font-family: $copyFont;
}

h1,
h2 {
	font-family: $headlineFont;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 1px;
}

h2 {
	font-size: 0.6em;
	@include breakpoint(medium) { font-size: 1.1em; }
}

.logoText {
	font: 1.3em $logoFont;
	@include breakpoint(medium) { font-size: 1.5em ; }
	text-transform: uppercase;
	letter-spacing: 0.0625em;
}

.button { font: 1em $headlineFont; text-transform: uppercase; }

.micro { font-size: 0.8em;	}
	
footer .copyright {
		font-size: 0.8em;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		font-weight: 700;
	}

//-----------------------
// COLORS & STYLE
//-----------------------

// Vars
$white: hsla(0, 0%, 100%, 1);
$black: hsla(0, 0%, 0%, 1);
$transparent: hsla(0, 0%, 0%, 0);

$offWhite: hsla(40, 100%, 90%, 1);
$yellow: hsla(40, 90%, 65%, 1);
$neon: hsla(150, 20%, 90%, 1);
$background: hsla(200, 40%, 5%, 1);
$interactive: hsla(345, 70%, 50%, 1);

// Main elements
html { background: $background; }
body { background: $background; color: $offWhite; }
footer { background-color: lighten($background, 3); }
h1 { color: $yellow; }
h2 { color: desaturate($yellow, 50); }
p { color: $offWhite; }
strong { color: $yellow; }

// Header
#bgSVG { fill: $background; }
#charGroup { fill: $neon; }
.glow ellipse { fill: $neon; }
.logoText {	color: darken($neon, 30); }
.gradient {	background: linear-gradient(to bottom, $transparent 0%, $transparent 30%, $background 100%); }
#scrubbSVG { #scrubbProgress { stroke: $interactive; } #scrubbRail { stroke: darken(desaturate($interactive, 50), 20); } }
#sliderHandle {	fill: $interactive; }
#discoverySlider { background: $transparent; } // Hides real slider UI


// Presentation
#presentation h1 { text-shadow: 0px -35px 150px hsla(40, 90%, 65%, 0); }
#presentation .glowDiv {
	position: absolute;
	transform: translateX(-50%);
	border-radius: 10em;
	background-color: $transparent;
	left: 50%;

	@include breakpoint(medium) {
		top: 11em;
		width: 50%;
		height: 4em;
		box-shadow: 0px -8em 150px $yellow;
	}
	top: 11em;
	width: 90%;
	height: 3em;
	box-shadow: 0px -8em 100px $yellow;

	opacity: 0;	
}

// Form
#mce-EMAIL{
	color: $interactive;
	border-color: $interactive;
	background-color: transparent;
	&::placeholder { color: $interactive; opacity: 0.7; }
	&:focus { box-shadow: 0 0 5px $interactive; }
}

.button { background-color: $interactive; }
.micro { color: desaturate(lighten($background, 25), 20); }

// Footer layout
.socialIcon {
	fill: $offWhite;
	circle { fill: black; opacity: 0.01; }
}

.copyright p { color: desaturate(lighten($background, 25), 20); }

// Style
.button,
.email { border-radius: 5px;}



//-----------------------
// LAYOUT
//-----------------------

// Vars

$scrubbW: 40%;

// z-index
$footerIndex: -1;

$ui-slider-rangeIndex: 1;
$sliderHandleIndex: 2;
$ui-slider-handleIndex: 3;


// Main elements

body {
	position: relative;
	@include breakpoint(medium) {
    	margin-bottom: 80vh;
  	}
	margin-bottom: 0;
	height: auto;
}

p {
	margin-bottom: 2em;
}

section {
	padding-bottom: 8em;
}

#presentation,
#disclaimer {
	.container {
		@include breakpoint(medium) {
    		max-width: 33em;
  		}
		position: relative;
		margin: 0 auto;
	}
}

.button { padding: 0.5em 1em }

#presentation,
#disclaimer {
	position: relative;
	padding: 4em 0;
}

.headlineGroup {
	margin-bottom: 2em;
}



// Header

header .row { max-width: none; }
header .columns { padding: 0; }

.kineticType {
	position: relative;
	width: 100%;
	@include breakpoint(medium) {
		height: 95vh;
		min-height: 34em;
	}
	height: 80vh;
	min-height: 22em;
	margin: 0;
	padding: 0;
	overflow: hidden;
	.headerBackground,
	.glowContainer {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		@include breakpoint(medium) { opacity: 1 }
		opacity: 0.5;
	}
	.glowContainer {
		min-width: 450px;
		max-width: 1280px;
	}
	#glowWide,
	#glowSlim { opacity: 0; }
 	#bgSVG {
		position: absolute;
		min-width: 45em;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		margin: 0;
		overflow: visible;
	}

	#nerdmanship {
		position: absolute;
		width: 100%;
		height: 100%;
		min-height: 400px;
		min-width: 450px;
		max-width: 1280px;
		left: 50%;
		top: 40%;
		transform: translate(-50%, -50%);
		margin: 0;
		overflow: visible;
		opacity: 0;
		.box { visibility: hidden; }
	}

	.logoText {
		opacity: 0;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.logoUpper { top: 25%; }
	.logoLower { 
		@include breakpoint(medium) { top: 55%;	}
  		top: 50%;
  		min-width: 195px;
  	}

	.gradient {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.controllerContainer {
		@include breakpoint(medium) {
    		visibility: visible;
  		}
  		visibility: hidden;
		position: absolute;
		top: 51%;
		left: 50%;
		transform: translate(-50%);
		width: $scrubbW;
		min-width: 250px;
		height: 0.25em;
	
		.sliderContainer {
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 10px;
			overflow: hidden;
			#scrubbSVG {
				visibility: hidden;
				position: absolute;
				width: 100%;
			}
		}
		#sliderHandle {
			position: absolute;
			z-index: $sliderHandleIndex;
			height: 10px;
			top: 50%;
			overflow: visible;
			.circle1,		
			.circle2,
			.circle3,
			.circle4 { visibility: hidden; }
		}
		#discoverySlider {
			position: absolute;
			top:0;
			width: 100%;
			height: 100%;
			border-radius: 10px;
			border: none;
			cursor: pointer;
			.ui-slider-handle {
				position: absolute;
			    z-index: $ui-slider-handleIndex;
			    width: 20px;
			    height: 20px;
				background: transparent;
				cursor: pointer;
			    touch-action: none;
			    border: none;
			    border-radius: 20px;
			    margin-left: -10px;
			    top: -200%;
			}
			.ui-state-focus {
				outline: none;
			}
		}
	}
}



// JQuery UI slider

.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: $ui-slider-handleIndex;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: $ui-slider-rangeIndex;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}



// Form

#signupFormContainer {
	margin: 1em auto;
	.buttonGroup, .mc-field-group {
		display: inline-block;
		width: 100%;
  		.button {
  			width: 100%;
  		}
	}
}



// Footer

footer {

	// Footer uncover style on all devices but small
	@include breakpoint(medium) { position: fixed; z-index: $footerIndex; padding-top: 5em; }
	
	position: relative;
	width: 100%;
	bottom: 0;
	
	.row { padding: 1.2em 0; }
	
	p { margin-bottom: 0; }
	.button { margin-bottom: 0; min-width: 15em; }

}

.socialLink {
	width: 50px;
	margin: 0 1em;
}






