@font-face {
  font-family: 'Geo';
  font-style: normal;
  font-weight: 400;
  src: local('Geo'), local('Geo-Regular'), url(https://fonts.gstatic.com/s/geo/v8/u6xYViAS7oZBWuSBY2LiDw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

$logoFont: 'Geo', sans-serif;

$white: hsla(60, 30%, 85%, 1);
$offWhite: hsla(60, 15%, 80%, 1);

$pink: hsla(347, 69%, 57%, 1);

$base: hsla(347, 69%, 57%, 1);
$bright: lighten($base, 20);
$light: lighten($base, 10);
$shade: desaturate(darken($base, 30), 5);
$dark: desaturate(darken($base, 50), 5);
$black: desaturate(darken($base, 60), 5);


$scrubbW: 40%;


body {
	background: $black;
	color: $base;
	font-size: 16px;
}

#main p {
	font-family: Courier,monospace;
	color: $white;
	font-size: 1.3em;
    background-color: transparent;
    border: none;
}



//-----------------------
// JQUERY UI SLIDER
//-----------------------

.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}


//-----------------------
// HEADER
//-----------------------

#header { max-width: none; }
#header > .columns { padding: 0; }

.header {
	position: relative;
	width: 100%;
	height: 93vh;
	min-height: 550px;
	margin: 0;
	padding: 0;
	overflow: hidden;

 	#bgSVG {
		position: absolute;
		min-width: 720px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		margin: 0;
		overflow: visible;
		z-index: -2;
		fill: $dark;
	}

	#nerdmanship {
		position: absolute;
		width: 100%;
		height: 100%;
		min-height: 400px;
		min-width: 450px;
		max-width: 1280px;
		left: 50%;
		top: 40%;
		transform: translate(-50%, -50%);
		margin: 0;
		overflow: visible;

		opacity: 0;
		.box { visibility: hidden; }
		#charGroup { fill: $white; }
	}

	.logoText {
		@include breakpoint(medium) {
    		font: 2em $logoFont;
  		}
		opacity: 0;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);

		color: $white;
		font: 1.5em $logoFont;
		text-transform: uppercase;
		letter-spacing: 0.0625em;
	}

	.logoUpper { top: 25%; }
	.logoLower { 
		@include breakpoint(medium) { top: 55%;	}
  		top: 50%;
  	}

	.gradient {
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, rgba(24,27,26,0) 0%, rgba(24,27,26,0) 30%, $black 100%);
		z-index: -1;
	}

	.controllerContainer {
		@include breakpoint(medium) {
    		visibility: visible;
  		}
  		visibility: hidden;
		position: absolute;
		top: 51%;
		left: 50%;
		transform: translate(-50%);
		width: $scrubbW;
		min-width: 250px;
		height: 0.25em;
	
		.sliderContainer {
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 10px;
			overflow: hidden;
			#scrubbSVG {
				visibility: hidden;
				position: absolute;
				width: 100%;
				#scrubbProgress { stroke: $pink; }
				#scrubbRail { stroke: $dark; }
			}
		}
		#sliderHandle {
			position: absolute;
			z-index: 2;
			height: 10px;
			top: 50%;
			overflow: visible;
			fill: $pink;
			.circle1,		
			.circle2,
			.circle3,
			.circle4 { visibility: hidden; }
			.circle4 { fill: rgba(0, 0, 0, 0.3); }
		}
		#discoverySlider {
			position: absolute;
			top:0;
			width: 100%;
			height: 100%;
			border-radius: 10px;
			border: none;
			cursor: pointer;
			background: rgba(255,255,255, 0);
			.ui-slider-handle {
				position: absolute;
			    z-index: 3;
			    width: 20px;
			    height: 20px;
				background: transparent;
				cursor: pointer;
			    touch-action: none;
			    border: none;
			    border-radius: 20px;
			    margin-left: -10px;
			    top: -200%;
			}
			.ui-state-focus {
				outline: none;
			}
		}
	}
}

#scrollDownIndicator {
	width: 30px;
	position: absolute;
	bottom: -2%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0; 
	circle { fill: hsla(0, 0%, 100%, 1); }
}

//-----------------------
// MAIN CONTENT
//-----------------------

.presentation {
	position: relative;
	top: 2rem;
	font-size: 0.8em;

	.shiny {
		color: $pink;
	}
	// Form layout and styling

	#signupFormContainer {

		#mce-EMAIL{
				color: $pink;
				border-color: $pink;
				background-color: transparent;
				&::placeholder {
					color: $pink;
					opacity: 0.7;
				}
				&:focus {
					box-shadow: 0 0 5px $pink;	
				}
			}
		.buttonGroup, .mc-field-group {
			display: inline-block;
		}
	}
}




	
    



//.main { background-color: $white; }




